:root {
    --main-color: #212121;
    --blue-color: #2196F3;
    --white-color: #ffffff;
    --blackhero-color: #2F303A;
    --black-color: #000000;
    --grey-color: #757575;
    --button-color: #F5F4FA;
    --border-color: #eee;
}