
.benefits {
    display: flex;
  
}

.benefits__item {
    margin-right: 30px;

    &:last-child {
            margin-right: 0px;
        }
}


.benefits__title {
    color: var(--main-color);
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.benefits__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.benefits__box {
    background-color: var(--button-color);
    height: 120px;
    width: 270px;
    border-radius: 4px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.benefits__icon {
    width: 70px;
    height: 70px;
}